.demo-custome-dropdown-container {
  position: relative;
  cursor: pointer;
}

.demo-custome-dropdown-container p {
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  line-height: 30px;
  padding: 5px;
  font-size: 12px;
}

.demo-custome-dropdown-container i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px 2px 2px 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.demo-custome-dropdown-container ul {
  position: absolute;
  list-style: none;
  background: white;
  border: 1px solid rgb(169, 169, 169);
  width: 100%;
  padding: 0;
  margin: 0;
}

.demo-custome-dropdown-container li {
  padding: .5rem;
}

.demo-custome-dropdown-container li:hover {
  background: rgb(169, 169, 169);
}