.demo-step-one-container {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.demo-step-one-container .note-context {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center;
  border: 1px solid grey;
}

.demo-step-one-container .demo-arrow {
  font-size: 40px;
  cursor: pointer;
}