.demo-step-two-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 2rem;
}

.demo-step-two-container .demo-step-two--right {
  display: flex;
  align-items: center;
  width: 50%;
}

.demo-step-two-container .demo-step-two--right .note-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 2rem;
  overflow: auto;
  border: 1px solid grey;
}

.demo-step-two-container .demo-step-two--right .note-container p {
  margin: 0;
}


.demo-step-two-container .demo-step-two--right textarea {
  width: 300px;
  resize: none;
}

.demo-step-two-container .demo-step-two--left {
  flex-direction: column;
}

.demo-step-two-container .demo-step-two--left .options-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.demo-step-two-container .demo-step-two--left .options-container select { 
  width: 130px;
  height: 40px;
  border-radius: 5px;
}