.App .demo-btn-control {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem 4rem;
}

.App .demo-btn-control button {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  background: #5782ff;
  color: white;
  border-radius: 5px;
}